/* body {
    justify-content: center;
}

.recentDonations span{
    color: aquamarine;
}

.progress span , .donationForm span{
    color: blueviolet;
}

button{
    background-color:cyan;
}

input {
    margin: 10px 0px;
} */
